<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01-myServlet</display-name>
  <context-param>
    <param-name>zhangsan</param-name>
    <param-value>lishi</param-value>
  </context-param>
  <servlet>
    <servlet-name>my</servlet-name>
    <servlet-class>com.wy.myServer.Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.wy.myServer.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/my2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Method</display-name>
    <servlet-name>Method</servlet-name>
    <servlet-class>com.wy.myServer.Method</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Method</servlet-name>
    <url-pattern>/Method</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>com.wy.myServer.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/responseP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.wy.myServer.DataServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page</display-name>
    <servlet-name>Page</servlet-name>
    <servlet-class>com.wy.myServer.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
</web-app>